<div class="main-container">
    <div class="logo">
      <div><h1>SSR</h1></div>
    </div>

    <div class="flex justify-content-center my-5">
      <form #loginForm="ngForm">
        <p-card header="Login" [style]="{width: '410px'}">
          <div class="field p-3">
            <label for="firstname1">Firstname</label>
            <input id="firstname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
        <div class="field p-3">
            <label for="lastname1">Lastname</label>
            <input id="lastname1" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        </div>
          <div class="flex justify-content-center mt-4">
            <p-button label="Login" (click)="LogIn()" class="flex align-items-center justify-content-center w-9rem h-3rem bg-primary font-bold"></p-button>
          </div>
          <div class="mt-3">
            Not a member?<a routerLink="/Register">Register</a>
          </div>

        </p-card>
      </form>
    </div>
  </div>