/* .main-container{
    position: absolute;
}*/
.logo{
    position: relative;
    top: 2vh;
    left: 10vh;
    bottom: 3vh;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}